name: pa_fft_cancer
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pandas
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - scanpy
  - python-igraph
  - leidenalg
  - pip
  - pip:
      - --extra-index-url https://download.pytorch.org/whl/cu121
      - torch
      - torchvision
      - torchaudio
      - h5py
      - tqdm
      - gdown
